* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 72.5%;
  font-family: var(--text-font);
}

body {
  background: var(--main-background-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  background: var(--main-background-color);
  z-index: 10000;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: var(--header-height);

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  padding: 0 1.5rem 0 1.5rem;
  transition: all 0.2s ease-in-out;
}

header[data-position="begin"] {
  box-shadow: 0 0 5rem black;
}
header[data-position="ontop"] {
  background-color: var(--second-background-color);
  color: var(--reverse-color) !important;
}

header[data-position="ontop"] h1, header[data-position="ontop"] a {
  color: var(--reverse-color) !important;
}

header h1 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

#menu_toggle {
  font-size: 1.7rem;
  font-weight: 100;
  width: calc(var(--header-height) * 2/3);
  height: calc(var(--header-height) * 2/3);
  transition: transform 1s ease-in-out;
}

#menu_toggle.nav-active {
  transform: rotate(90deg);
}

.nav {
  display: none;
  height: var(--navigation-height);
}

.nav > ul {
  gap: 5rem;
  list-style: none;
  font-size: 1.5rem;
}

ul a {
  color: var(--font-color);
  text-decoration: none;
}

.nav > ul li {
  transition: transform 0.2s ease-in-out;
}

.nav > ul li:hover {
  transform: scale(1.1, 1.1);
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

.nav.nav-active {
  display: flex;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main > section {
  gap: 5rem;
  position: relative;
}

main > section h2 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 3rem;
  margin-bottom: 4rem;
}

main > section h3 {
  color: var(--heading-color);
  font-size: 2rem;
  padding: 1rem;
}

main > section p {
  font-size: 1.5rem;
  padding: 1rem;
  user-select: text;
}

.data-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

main > section img {
  object-fit: cover;
  max-width: 50%;
  max-height: 80vh;
}

footer {
  width: 100%;
  height: var(--footer-height);
  background: var(--second-background-color);
  color: var(--reverse-color);

  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
}

.footer-menu ul {
  list-style: none;
  gap: 2rem;
}

.footer-menu ul a {
  color: var(--reverse-color);
}

@media (max-width : 928px) {
  main > section {
    flex-direction: column;
    gap: 2rem;
  }

  main > section img {
    max-width: 100%;
  }
}

@media (max-width : 700px) {
  .nav > ul {
    gap: 1rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width : 460px) {
  .data-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (max-width : 390px) {
  html {
    font-size: 45%;
  }
}

@media (max-width : 250px) {
  html {
    font-size: 30%;
  }
  main > section h2 {
    margin-bottom: 2rem;
  }
}